body {
    background-color: #AACB9E;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
}

li {
    text-align: justify;
    text-justify: inter-word;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

main, section, div {
    display: flex;
    background-color: white;
}

h1 {
    width: 100%;
    color: black;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

label {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: black 2px 2px 5px;
    padding-right: 15px;
    padding-left: 15px;
}

footer {
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    box-shadow: black 2px 2px 5px;
    bottom: 0;
}

form {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.break {
    flex-basis: 100%;
    height: 0px;
}

.inputText {
    width: 500px;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: #EFF3EE;
    border-color: black;
}

.inputButton {
    width: 200px;
    background-color: #6CB751;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    display: inline-block;
    color: black;
    margin: 15px;
    box-shadow: black 2px 2px 5px;
    text-decoration: none;
}

.button {
    width: 160px;
    background-color: #6CB751;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20px;
    text-align: center;
    display: inline-block;
    color: black;
    margin: 15px;
    box-shadow: black 2px 2px 5px;
    text-decoration: none;
}

.containerLogo {
    justify-content: center;
    align-content: space-around;
    margin-bottom: 20px;
    box-sizing: content-box;
    box-shadow: black 2px 2px 5px;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    box-shadow: black 2px 2px 5px;
}

.containerPrincipal {
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: black 2px 2px 5px;
    color: black;
    padding: 20px 40px 20px 40px;
}

.bottom {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 96%;
}

.imgLogo {
    height: 180px;
    width: 200px;
}

.dicasDoacao {
    flex-direction: row;
    font-size: large;
    margin-bottom: 40px;
    margin-top: 20px;
    color: black;
    flex-wrap: wrap;
}

.txtDicas {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    width: 60%;
}

.ods {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 50px;
}

.imgOds {
    height: 20%;
    width: 100%;
    margin-bottom: 50px;
}

.odsObjetivos {
    background-color: #AACB9E;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 50px;
}

.imgRoupas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.iconRoupas {
    height: 70%;
    width: 4%;
    margin: 5px;
}

.imgHeader {
    height: 8%;
    width: 8%;
}

.linkBotao {
    display: inline-block;
    padding: 5px 5px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.linkBotao:hover {
    background-color: #AACB9E;
}

.cardsLocais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infoLocais {
    margin: 10px;
    background-color: #AACB9E;
    box-sizing: border-box;
    box-shadow: black 2px 2px 5px;
    padding: 30px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 45%;
}

.txtLocais {
    padding-left: 20px;
    flex-direction: column;
    background-color: #AACB9E;
}

.divButtons {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fotos {
    height: 160px;
    width: 150px;
    float: left;
}

.iconesRodape {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.iconesRodape:hover {
    background-color: #AACB9E;
}

#login {
    padding-left: 20%;
    padding-right: 20%;
}

#sair {
    width: 70px;
    padding: 20px;
    font-size: small;
}

#imgBox {
    width: 20%;
    height: 20%;
    padding-top: 3%;
    padding-left: 4%;
}