.containerLogo {
    display: flex;
    background-color: #98c1d9;
    justify-content: center;
    align-items: space-around;
    margin-bottom: 20px;
    box-sizing: content-box;
    box-shadow: black 2px 2px 5px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #98c1d9;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    box-shadow: black 2px 2px 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

label {
    color: black;
    font-family: sans-serif;
    font-style: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    width: 500px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 0px;
}

button {
    width: 200px;
    background-color: #3d5a80;
    padding: 20px;
    text-align: center;
    display: inline-block;
    color: white;
    margin: 15px
}

.imgLogo {
    height: 180px;
    width: 200px;
}